<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About</title>
  <link rel="stylesheet" href="/css/styles.css" /> <link rel="icon" href="/images/weather.png" />
</head>

<body>
  {{>navbar}}
  <main class="container">

    {{>header}}
   
    <p>{{message}}</p>
   <img src="/images/adel.jpg" alt="adel" />
    <p><strong>This site was created by Adel Chelabi. It uses data from mapbox.com and weatherstack.com!</strong></p>
  </main>
  {{>footer}}
</body>

</html>